<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Measuring blockchain transaction throughput (transactions per second).">
  <meta name="og:description" content="Measuring blockchain transaction throughput (transactions per second).">
  <meta name="twitter:description" content="Measuring blockchain transaction throughput (transactions per second).">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Real TPS">
  <meta property="og:url" content="https://realtps.net">

  <meta property="twitter:card" content="summary">

  <title>Real TPS</title>

  <link rel="stylesheet" href="/static/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDP3D443J3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZDP3D443J3');
  </script>

  <!-- Plausible Analytics -->
  <script defer data-domain="realtps.net" src="https://plausible.io/js/plausible.js"></script>

</head>

{% block body %}
{% endblock body %}

{% block footer %}
{% endblock footer %}
