<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Real TPS</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<table>
  <thead>
    <tr>
      <th>Chain</th>
      <th>TPS</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.chain }}</td>
      <td>{{ row.tps | round(precision=2) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
