* {
    --black: #333;
    --white: #fff;
    --light-gray: #eee;
    --medium-gray: #ccc;
    --dark-gray: #777;
    --section-padding: 2rem;
}

@font-face {
    font-family: "SiteFont";
    src: url("/static/fonts/Monoid Regular Nerd Font Complete.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: SiteFont;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/*html {
    background-color: #faa;
}

body {
    background-color: #aaf;
}*/

:root {
    color: var(--black);
    background-color: var(--white);
}

body {
    padding: calc(var(--section-padding) * 2);
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: seperate;
    border-spacing: 0;
    /*border: 1px solid var(--black);*/
}

th, td {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

th:nth-child(1),
td:nth-child(1) {
    padding-left: 4em;
    text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
    padding-right: 4em;
    text-align: right;
}

th {
    color: var(--white);
    background-color: var(--black);
}

tr:nth-child(even) {
    background-color: var(--light-gray);
}

td {
    border-bottom: 1px solid var(--medium-gray);
}

footer {
    padding-top: var(--section-padding);
    text-align: center;
    font-size: 200%;
    color: var(--dark-gray);
}

footer a {
    color: inherit;
    text-decoration: none;
}
