*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/*html {
    background-color: #faa;
}

body {
    background-color: #aaf;
}*/

body {
    padding: 2rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid gray;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: 1px solid gray;
}

td:nth-child(1) {
    padding-right: 2em;
}

td:nth-child(2) {
    padding-left: 2em;
    text-align: end;
}
